#table-trail th {
  cursor: pointer;
}

#table-trail th.sorted-asc::after {
  content: " asc";
}

#table-trail th.sorted-desc::after {
  content: " desc";
}

.active-col {
  background-color: #ffe08a;
  font-weight: bold;
}

#table-trail-vertical th {
  cursor: pointer;
}

#table-trail-vertical th[data-index] {
  background: #eee;
}